<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" href="estilos.css">
</head>
<body>
	<header>
		<h1>Mi Pagina</h1>
		<nav>
			<a href="home">home</a>
			<a href="contacto">contacto</a>
		</nav>
	</header>
	{{{body}}}
	<script src="bundle.js"></script>
</body>
</html>